.badge {
  color: #fff;
  padding: $sp1 $sp2;
  text-transform: uppercase;
  border-radius: 40px;
  padding-top: 10px;
  padding-bottom: 6px;

  &--primary {
    background-color: $primary-color;
  }

  &--black {
    background-color: #000;
  }
}
